In [4]:
var1 = 2

var2 = 5.0

var_3 = True

var4 = "Machine Learning"

In [6]:
print("variable 1 :", var2)

variable 1 : 5.0

In [7]:
type(var1)

int

In [8]:
type(var2)

float

In [10]:
type(var_3)

bool

In [11]:
type(var4)

str

# Conditional Statements

if var1 > 1:
 print("bigger than 1")

In [21]:
x= 150
y= 150
z=2
 
if x > y:
    print(" x is bigger than y")
elif x < y:
    print(" y is bigger than x")
elif z < x:
    print("z is lesser")
else:
    print("x=y")

z is lesser

In [31]:
p = 5

isGreater = True if p > 4 else False
                  
print(isGreater)

True

# Generating Sequence Number

In [33]:
Numbers = range(1,5)

Numbers

range(1, 5)

Control flow statements

In [34]:
for i in Numbers:
    print (i)

1
2
3
4

In [39]:
i=1

while i < 5:
    
    print(i)
    
    i= i+1
        
print("Done")

1
2
3
4
Done

# Functions

In [45]:
def Add(a, b, c):
    return a+b+c

In [46]:
p=Add(2,18,3)

In [47]:
p

23

In [50]:
c= Add("SANKET"," Suresh"," Kumawat")

In [51]:
c

'SANKET Suresh Kumawat'

In [52]:
def add(a, b=4):
    return a+b

In [54]:
add(6)

10

In [55]:
add(5,3)

8

# Working with collection

In [56]:
batsman=[]

batsman=["Rohit", "Dhabvan", "Rahane", "Dhoni"]

In [57]:
batsman[0]

'Rohit'

In [59]:
batsman[2]

'Rahane'

In [60]:
#slicing lis

batsman[0:2]

['Rohit', 'Dhabvan']

In [61]:
#accesing last element
batsman[-1]

'Dhoni'

In [62]:
len(batsman)

4

In [63]:
bowlers=["bumrah","shami"]

In [64]:
addlist= batsman +bowlers

In [65]:
addlist

['Rohit', 'Dhabvan', 'Rahane', 'Dhoni', 'bumrah', 'shami']

In [66]:
'bumrah' in bowlers

True

In [67]:
'bumrah'in batsman

False

In [68]:
addlist.index('Dhoni')

3

In [69]:
addlist.reverse()

In [70]:
addlist

['shami', 'bumrah', 'Dhoni', 'Rahane', 'Dhabvan', 'Rohit']

Tuples

In [71]:
OdiDebute=('Kohli','2008')

In [72]:
OdiDebute

('Kohli', '2008')

In [75]:
OdiDebute[1]

'2008'

In [77]:
OdiDebute[1]=2009 #error, cant change tuples

TypeError: 'tuple' object does not support item assignment

In [78]:
players= tuple(addlist)

In [79]:
players

('shami', 'bumrah', 'Dhoni', 'Rahane', 'Dhabvan', 'Rohit')

SET

In [81]:
setOfNumbers={5,6,2,89,9,5}

In [82]:
setOfNumbers

{2, 5, 6, 9, 89}

In [87]:
set2= {2,5,8,78,5,89,2.256}
set2

{2, 2.256, 5, 8, 78, 89}

In [88]:
setOfNumbers.union(set2) #UNION

{2, 2.256, 5, 6, 8, 9, 78, 89}

In [90]:
setOfNumbers.intersection(set2)

{2, 5, 89}

In [92]:
setOfNumbers.difference(set2)

{6, 9}